<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1.8" android:versionName="1.8" package="com.hackerferret.htb4">
	<uses-sdk android:minSdkVersion="29" android:targetSdkVersion="29" />
	<application android:icon="@mipmap/ic_launcher" android:label="Hydraulic Toolbox"></application>
</manifest>